html {
    margin: 0;
    padding: 0;
}

header {
    margin: 20;
    margin-top: 40px;
    background-color: #ffffff;
    padding-bottom: 0px;
    padding-top: 10px;
}

.video-wrap {
    position: relative;
}

p {
    font-family: serif;
    color: #000;
    font-size: 400%;
    position: absolute;
    left: 30%;
    top: 200px;
    z-index: 1;
}

.rogo {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.yohaku {
    padding: 30px;
    padding-left: 350px;
    padding-right: 350px;

}

.big {
    margin-top: 30px;
    width: 75%;
    height: 300px;
}

.box11 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box11 a {
    margin: 0;
    padding: 0;
    color: #5d627b;
}



@media screen and (max-width: 1200px) {
    .rogo {
        width: 70%;
        height: 70%;
    }

    .yohaku {
        padding: 30px;
    }

    .big {
        margin-top: 30px;
        width: 90%;
        height: 300px;
    }
}


@media screen and (max-width: 700px) {
    .rogo {
        width: 100%;
        height: 100%;
    }

    .yohaku {
        padding: 0px;
    }

    .big {
        margin-top: 30px;
        width: 100%;
        height: 200px;
    }
}

.red {
    color: #ff0000;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #000;
    height: auto;
    font-weight: 900;


}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000;
    height: auto;
    font-weight: 900;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    color: #000;
    height: auto;
    text-decoration: none;
    font-weight: 700;

}

#main {
    background-color: #fff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;

}

#kako {
    background-color: #fff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    margin: 0px;
    padding: 0;
}

.you {
    padding-left: 10px;
    width: 512px;
    height: 288px;
}

.kakorogo {
    margin-left: 10px;

    width: 350px;
    height: auto;
    border: 9px solid #fff;
    border-radius: 30px;

}

#menber {
    background-color: #fff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#sns {
    background-color: #fff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fab fa-twitter {
    margin: 0px;
    padding: 0px;
}

.entry {
    padding: 0.5em 1em;
    margin: 30;
    font-weight: bold;
    color: #000000;
    /*文字色*/
    background: #f5f5f5;
    border: solid 3px #000;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    font-size: 30px;
}

.disco {
    padding: 0.5em 1em;
    margin: 30;
    font-weight: bold;
    color: #000000;
    /*文字色*/
    background: #e0ffff;
    border: solid 3px #4169e1;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    font-size: 30px;
}

.yotei {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: #000;
        height: auto;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #000;
        height: auto;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #000;
        height: auto;

    }

    #main {

        padding: 80px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #kako {

        padding: 80px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #menber {

        padding: 80px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #sns {

        padding: 80px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .you {
        padding-left: 10px;
        width: 90%;
        height: 90%;
    }

    .kakorogo {
        margin-left: 10px;

        width: 40%;
        height: 40%;
        border: 9px solid #c0c0c0;
        border-radius: 30px;
    }


    @media screen and (max-width: 700px) {
        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;

            height: auto;
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            color: #000;
            height: auto;
        }

        a {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;

            height: auto;

        }

        #main {

            padding: 25px;
            padding-bottom: 10px;
            padding-top: 10px;

        }

        #kako {

            padding: 25px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        #menber {

            padding: 25px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        #sns {

            padding: 25px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .you {
            padding-left: 10px;
            width: 90%;
            height: 90%;
        }

        .kakorogo {
            margin-left: 10px;

            width: 90%;
            height: 90%;
            border: 9px solid #c0c0c0;
            border-radius: 30px;
        }
    }
}
